
#block-webform-client-block-10{

	background-color: #f2f2f2;
	text-align: center;
	padding: 70px 10px;

	h2{
		@extend .heading;
	}

	h2:after{
		@extend .logoIcon;
	}
}

.webform-client-form
{	

	max-width: 850px;
	margin: 0 auto;

	input,
	textarea
	{
		font-size: 18px;
		padding: 15px 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	.form-actions
	{
		text-align: center;
		position: relative;
		margin: 0 auto;
		margin-top: 15px;
	}

	.form-item
	{
		position: relative;
		display: inline-block;
	}

	.webform-submit
	{	
		color: white;
		background: $blue;
		text-transform: lowercase;
		width: 250px;
		margin: 0 auto;
		margin-right: 20px;
		cursor: pointer;
		-webkit-appearance: none;
	}

	.webform-component-textarea
	{
		clear: left;
		width: 98%;

		&+p
		{
			display: none;
		}

		textarea{

			width: 98%;
		}
	}

	::-webkit-input-placeholder
 	{ 
 		color:#9b9b9b; 
 		font-size: 16px;
 	}
	::-moz-placeholder 
	{ 
		color:#9b9b9b;
		font-size: 16px;
 	} /* firefox 19+ */
	:-ms-input-placeholder 
	{ 
		color:#9b9b9b; 
		font-size: 16px;
	} /* ie */
	input:-moz-placeholder 
	{ 
		color:#9b9b9b; 
		font-size: 16px;
	}

	input
	{
		width: 370px;
	    margin-right: 20px;
	}
}

#block-search-form,
#block-block-2
{	
	right: 0px;
	top: 0px;
	float: right;

	h2
	{
		display: none;
	}

	.form-text
	{
		width: 250px;
		padding: 10px;
		margin-top: 24px;
	}

	.form-submit
	{	
		@extend .hide-button;
		width: 30px;
		height: 30px;
		cursor: pointer;
		-webkit-appearance: none;
		background: url(../images/search-icon-blue.png) no-repeat;
	}

	.contextual-links-wrapper
	{
		display: none!important;
	}

	.form-type-textfield
	{	
		display: none;
		position: absolute;
		right: 0;
		top: 8px;
	}

	.form-type-textfield input
	{	
		.expand-textbox &
		{
			height: 30px;
			border: 1px solid $grey;
			transition: height 0.5s;
		}
	}
}

#block-search-form
{
	display: none;

	#navigation.blue-header &
	{	
		.form-submit
		{
			background: url(../images/search-icon-white.png) no-repeat;
		}
	}

	&.active
	{
		display: block;
	}
}
