.view-banner{

	h1{
		font-size: 2.2em;
		max-width: 500px;
		margin: 0 auto;
		margin-top: 30px;
		color: white;
		text-transform: inherit;
	}

	.views-row{
		position: relative;
	}

	.views-field-body{
	    position: absolute;
		top: 45%;
		left: 50%;
		text-align: center;
		transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);

		img{
			margin: 0 auto;
		}
	}
}

.slick-arrow{
	@extend .hide-button;
	width: 20px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	top: 40%;
	z-index: 1;
}

.slick-prev{
	left: 40px;
	background:url(../images/left-arrow.png) no-repeat;
}

.slick-next{

	right: 40px;
	background:url(../images/right-arrow.png) no-repeat;
}

.slick-dots{

	display: block;
	position: absolute;
	bottom: 230px;
	width: 100%;
	text-align: center;

	li{

		display: inline-block;
		padding-right: 10px;

		button{

			@extend .hide-button;
			background: white;
			width: 15px;
			height: 15px;
			border-radius: 20px;
			cursor: pointer;
		}
	}

	.slick-active button{

		background: $blue;
	}
}

.view-services{

	background: url(../images/service-bg.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;
	background-position: center;

	a{
		color: white;

		span{
			display: block;
		}
	}

	.subtitle{
		width: 211px;
		font-size: 0.9em;
	}

	.title{
		text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
		font-size: 2em;
		color: white;
	}

	.view-content{
		padding: 90px 0px;
	}

	.view-content{

		.not-front &{

			padding: 90px 0px 300px 0px;
		}
	}

	.views-row{
		display: inline-block;
		vertical-align: middle;
		max-width: 300px;
		padding: 20px;
	}

	.serv-icon{

		display: inline-block;
		height: 100px;

		img{

			padding-bottom: 20px;
		}
	}
}

#block-views-news-block-1,
.views-news{

	text-align: center;
	padding: 65px 0px 280px;
	background: $blue;
	background-size: cover;
	background-position: center;

	h2{
		color: white;
		padding-bottom: 65px;
	}

	.view-content{
		@extend .layout;
		max-width: 990px;

		.title a{
			color: black;
			font-size: 1.3em;
		}

		a{
			color: $grey;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	.date-posted{
		padding: 20px 0px 20px 12px;

		&:after{
			content:url(../images/ellipse.png);
			position: absolute;
			top: -8px;
			left: -34px;
		}

		span{
			display: block;
			color: white;
			position: relative;
			z-index: 1;
			line-height: 1.1em;
		}

		.date{
			font-size: 1.5em;
			font-weight: bold;
		}
	}

	.right-block{
		padding: 20px 40px 10px 45px;
		min-width: 320px;
		text-align: left;
	}

	.views-field{
		float: left;
		position: relative;
		z-index: 1;

		p{
			padding-bottom: 0px;
		}
	}

	.views-field-created{
		padding: 30px 0px;
		background-color: $blue;
		color: white;
	}

	.views-row{
		border: 2px solid white;
		background-color: white;
		max-width: 450px;
		overflow: hidden;
		margin-right: 30px;
		margin-bottom: 15px;
		display: inline-block;
	}
}

#block-views-news-block-2{

	@extend .grey-region;

	.view-content,h2{

		@extend .layout;
	}

	.views-more-link{

		display: block;
	}

	.views-field{

		padding: 10px 0px;
	}

	.views-field-title{

		font-size: 1.3em;
	}

	h2{
		padding-bottom: 30px;
		text-transform: inherit;
	}

	.views-row{

		@extend .partition;

		&:last-child{

			margin-bottom: 0px;
			padding-bottom: 0px;
			border-bottom: 0px;
		}
	}

}

#block-views-services-page-block{

	@extend .grey-region;

	.view-content{

		@extend .layout;
	}

	.view-grouping{

		@extend .partition;

		&:last-child{

			margin-bottom: 0px;
			border-bottom: 0px;
		}
	}

	.views-row{

		padding: 0px 10px 20px 0px;
		display: inline-block;
		width: 48%;
		vertical-align: top;
	}

	.view-grouping-header{

		font-size: 2.3em;
		padding-bottom: 25px;
		color: black;
		font-family: 'GFS Didot', serif;
	}

	img.serv-icon{

		vertical-align: middle;
	}

	.view-grouping-content h3{

		font-family: "open-sans",sans-serif;
		font-size: 0.9em;
		color: $grey;
		margin-top: 0px;
		margin-bottom: 25px;
	}

	.views-field-title{

		font-size: 1.1em;
		color: black;
		font-family: 'GFS Didot', serif;

		img{
			float: left;
		}

		.field-content{
			float: right;
			width: 85%;
		}
	}
}
